@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dancing+Script:wght@400..700&family=Honk:MORF@0..45&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Macondo&family=Noto+Color+Emoji&family=Sacramento&display=swap');

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* styles.css */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

header {
    color: #faf9fa;
    background-color: #3f0259;
    font-family: fantasy;
    font-size: 20px;
    display: flex;
}

.title {
    width: 310px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

body {
    background-image: url('assets/w5.jpg');
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px 0px 0px 0px;
    /* background-image: url('assets/w2.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo img {
    width: 60px;
    height: 60px;
    margin: 10px 10px;
    transition: 0.5s;
}

header h1 {
    margin: 0px 0px 0px 0px;
    padding: 10px 10px;
    font-family: dancing script;
}

main {
    padding: 20px;
}

article {
    margin-bottom: 40px;
}

.hero {
    /* background-image: url('assets/nechama-lock-dLFmwIOGNYo-unsplash.jpg'); */
    background-size: cover;
    justify-content: center;
    text-align: center;
    /* background-color: #f2edf3; */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f6ecf8;
    font-size: 60px;
    text-shadow: #7f2ca2 2px 6px 2px;
    /* text-decoration: double; */
    padding: 151px 0px 151px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, serif;
}

.hero-content p {
    color: #f6ecf8;
    font-size: 20px;
    padding: 0px 0px 0px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, serif;
}

footer {
    background-color: #c5c2c2;
    color: #fff;
    text-align: center;
    justify-content: center;
    position: static;
    height: 40px;
    width: 100%;
}

footer p {
    padding: 10px 0px 10px 0px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Navigation bar styles */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

nav {
    background-color: #782d98;
    padding: 1px;
    display: inlin;
    width: 100%;
}

ul {
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

nav ul li {
    display: inline;
    /* margin: 10px 10px; */
    padding: 0px 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.nav {
    display: flex;
    align-items: center;
    padding: 0px;
}

.nav-items {
    display: flex;
    align-items: end;
    padding-left: 9px;
}

.nav-login {
    margin-left: auto;
    margin-right: 10px;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Navigation bar styles */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media only screen and (min-width: 500px) {
    body {
        min-height: 100vh;
    }
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 50px 0px 50px 60px;
    gap: 50px;
    background-image: url('assets/w3.jpg');
    background-size: auto;
    background-blend-mode: lighten;
}

.cards h1 {
    color: #000000;
    font-size: 50px;
    padding: 0px 0px 0px 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    width: 85%;
    height: auto;
    min-height: 500px;
    max-width: 450px;
    min-width: 250px;
    background: #f8effb;
    text-align: left;
    background-size: 25px 25px;
    box-shadow: #03070948 10px 10px;
    border-radius: 20px;
    border-width: 1px;
    padding: 1rem;
    box-sizing: border-box;
}

.category {
    margin-top: -10px;
    padding-left: 8px;
    display: flex;
    width: 36%;
    height: 30%;
    justify-content: space-between;
}

.text {
    color: #545e7988;
    font-size: .9rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 8px;
    border-color: rgba(97, 97, 97, 0.152);
    border-style: solid;
    border-width: 2px;
    border-spacing: 100px;
    border-radius: 16px;
}

.card-header {
    margin-top: -35px;
    margin-left: 4px;
    justify-content: space-between;
    align-items: center;

}

.card-body p {
    font-size: 1.25rem;
    margin-top: -5px;
    margin-left: 4px;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
}

.button {
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px 25px;
    border-radius: 30px;
    border: none;
    background-color: #e4adeb;
    color: #f5f2f5;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}