@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dancing+Script:wght@400..700&family=Honk:MORF@0..45&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Macondo&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Color+Emoji&family=Sacramento&family=Sofia&display=swap');

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* styles.css */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

header {
    tab-size: 0px 0px -10px 0px;
    color: #faf9fa;
    background-color: #12022c;
    font-family: fantasy;
    font-size: 20px;
    display: flex;
}

.title {
    width: 310px;
    padding: 10px 30px 10px 30px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px 0px 0px 0px;
    /* background-image: url('assets/w2.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo img {
    width: 60px;
    height: 60px;
    margin: 10px 10px;
    transition: 0.5s;
}

header h1 {
    margin: 0px 0px 0px 0px;
    padding: 10px 10px;
    font-family: dancing script;
}

main {
    padding: 20px;
}

article {
    margin-bottom: 40px;
}

.hero {
    /* background-image: url('assets/nechama-lock-dLFmwIOGNYo-unsplash.jpg'); */
    background-size: cover;
    justify-content: center;
    text-align: center;
    background-image: url('assets/w5.jpg');
    /* background-size: cover; */
    /* background-color: #f2edf3; */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: relative;
    overflow: hidden;
}

.hero-heading p{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    text-shadow: none;
}

.hero-heading {
    justify-content: center;
    color: #f6ecf8;
    font-size: 65px;
    text-shadow: #2f0f3d 4px 8px 4px;
    /* text-decoration: double; */
    padding: 151px 0px 151px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, serif;
}

.gradient-overlay {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, #060008); /* Adjust colors as needed */
  }

footer {
    background-color: #c5c2c2;
    color: #fff;
    text-align: center;
    justify-content: center;
    position: static;
    height: 40px;
    width: 100%;
}

footer p {
    padding: 10px 0px 10px 0px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Navigation bar styles */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

nav {
    background-color: #170535;
    padding: 10px 0px 0px 0px;
    display: inline;
    width: 100%;
}

ul {
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

nav ul li {
    display: inline;
    /* margin: 10px 10px; */
    padding: 0px 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.nav {
    display: flex;
    align-items: center;
    padding: 0px;
}

.nav-items{
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    align-items: end;
    padding-left: 0px;
}


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* Navigation bar styles */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media only screen and (min-width: 500px) {
    body {
        min-height: 100vh;
    }
}

.recent-post{

    text-align: center;
    justify-content: center;
    padding: 10px;
    font-family: sofia, sans-serif;
    text-decoration: underline;
    font-size: 30px;
    background-color: #f1e9fe;
    background-image: url('assets/w3.jpg');
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 30px 70px;
    margin: 0px 0px 0px 0px;
    gap: 50px;
    background-image: url('assets/w3.jpg');
    background-size: auto;
    background-blend-mode: overlay;
}

.cards h1 {
    color: #000000;
    font-size: 80px;
    justify-content: center;
    padding: 20px 0px 0px 25px;
    box-sizing: content-box;
}

.container {
    height: 85%;
    width: 85%;
    height: auto;
    min-height: 500px;
    max-width: 450px;
    min-width: 250px;
    background: #ffffff;
    text-align: left;
    background-size: 25px 25px;
    box-shadow: #03070948 10px 10px;
    border-radius: 20px;
    border-width: 1px;
    padding: 1rem;
    box-sizing: border-box;
}

.category {
    margin-top: -10px;
    padding-left: 8px;
    display: flex;
    width: 36%;
    height: 30%;
    justify-content: space-between;
}

.text {
    color: #545e7988;
    font-size: .9rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 8px;
    border-color: rgba(97, 97, 97, 0.152);
    border-style: solid;
    border-width: 2px;
    border-spacing: 100px;
    border-radius: 16px;
}

.card-header {
    margin-top: -35px;
    margin-left: 4px;
    justify-content: space-between;
    align-items: center;

}

.card-body p {
    font-size: 1.25rem;
    margin-top: -5px;
    margin-left: 4px;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
}

.button {
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px 25px;
    border-radius: 30px;
    border: none;
    background-color: #e4adeb;
    color: #f5f2f5;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}


body {
    background-color: #61029ce2;
}

.main {
    background-image: url("assets/img/IN-en-20240205-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: rgb(40, 3, 69);
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.bla{
    font-size: 48px;
    font-weight: bolder;
}


.blabla{
    font-size: 24px;

}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}

